@import url("fonts.css");
@import url("bulma.min.css");

html {
    font-size: 1.8em;
    -moz-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

@media screen and (max-width: 769px) {
    html {
        font-size: 4vw;
    }
}

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    font-size: 0.7rem;
    line-height: 1.2;
    font-family: "Alegreya Sans", serif;
    font-weight: normal;
    color: black;
}

* {
    min-width: 0;
}

code {
    font-family: "Fira-Mono", monospace;
    color: #660000;
    border-radius: 0.25rem;
    padding: 0.1rem 0.2rem;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.content {
    height: 100%;
    min-height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 769px) {
    .content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.column {
    padding: 0.5rem;
}

.my-navbar, .backbutton {
    padding-top: 1rem;
    line-height: 1.3rem;
}

.my-navbar {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 0.8999999999999999rem;
    text-align: end;
}

@media screen and (max-width: 769px) {
    .my-navbar {
        text-align: start;
    }
}

.backbutton {
    padding-top: 1.5rem;
    text-align: center;
}

a.backbutton-link {
    font-family: "Fira-Mono", sans-serif;
    font-size: 2.0999999999999996rem;
    color: black;
    text-decoration: none;
}

a.navlink:link, a.navlink:visited {
    text-decoration: none;
    position: relative;
    color: black;
}

a.navlink:hover, a.navlink:active {
    color: black;
}

a.navlink::after {
    content: "";
    position: absolute;
    bottom: 0.0rem;
    left: 0;
    width: 0%;
    border-bottom: 1px solid;
    transition: 0.2s cubic-bezier(0.5,0.5,0,1);
}

a.navlink:hover::after {
    width: 100%;
}

a.bodylink:link, a.bodylink:visited {
    color: #0077aa;
    text-decoration: underline solid transparent;
    transition: 0.1s ease-in;
}

a.bodylink:hover, a.bodylink:active {
    color: #00a1e6;
    text-decoration: underline solid #00a1e6;
}

.main {
    padding-top: 2rem;
    margin-right: 7rem;
    display: block flex;
}

@media screen and (max-width: 769px) {
    .main {
        margin-right: auto;
    }
}

.footer {
    font-size: 0.49999999999999994rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.footer-separator {
    font-family: "Fira-Mono", sans-serif;
    font-size: 0.7999999999999999rem;
    color: #992600;
}

.textwrap {
    float: right;
    margin: 1.5rem;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-bottom: 0px;
    color: black;
}

.content h1 {
    border-top: 1px solid;
    padding-top: 5px;
    font-size: 0.8999999999999999rem;
}

.content h2 {
    font-size: 0.7999999999999999rem;
}

.content h3, .content h4, .content h5, .content h6 {
    font-size: 0.7rem;
}

.content pre {
    max-width: inherit;
    overflow: scroll;
    color: black;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

p {
    margin-top: 0.2rem;
}

.masonry-layout {
    column-count: 2;
    column-gap: 0;
    height: 100%;
    width: 100%;
}

.masonry-panel {
    break-inside: avoid;
}



.masonry-panel__content {
    padding: 0.4vmax;
}

.masonry-img {
    padding: 0.4vmax 0px 0.4vmax;
}
