:root {
    --bg-color: #1e2226;
    --fg-color: #c5c8c6;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vmax;
}

.navbar {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vmax;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--fg-color);
    font-family: 'Playfair Display', serif;
}

a {
    color: var(--fg-color);
}

p {
    color: var(--fg-color);
    font-family: 'Vollkorn', serif;
}

footer {
    width: 50%;
    bottom: 0;
    position: fixed;
}

#homepage {
    background-image: url("images/columns_phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 1025px) {
    #homepage {
        background-image: url("images/columns.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#origami {
    text-align: center;
}

#resume {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#resume-embed {
    flex-grow: 1;
}

.textwrap {
    float: right;
    margin: 1.1vmax;
}
