:root {
    --bg-color: #1e2226;
    --fg-color: #c5c8c6;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

h1 {
    color: var(--fg-color);
    font-family: 'Playfair Display', serif;
}

a {
    color: var(--fg-color);
}

p {
    color: var(--fg-color);
    font-family: 'Playfair Display', serif;
}
